@font-face {
    font-family: rickAndMorty;
    src: url("get_schwifty.ttf");
}

body {
    background-image: url("rnm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#wrapper {
    height: 100vh;
}

#header-text {
    font-size: 6vmin;
    font-family: rickAndMorty;
    color:  #013739;
    text-shadow: 2px 2px 0px #c9d74c;
}

#text {
    font-size: 5vmin;
    font-family: rickAndMorty;
    color: #c9d74c;
    text-shadow: 2px 2px 4px #000000;
}

#author {
    font-size: 3vmin;
    font-family: rickAndMorty;
    color: #c9d74c;
    text-shadow: 2px 2px 4px #000000;
}

#new-quote, #tweet-quote {
    background-color: #013739;
    color: #c9d74c;
    border: 0px;
    border-radius: 0%;
    font-family: 'Courier New', Courier, monospace;
}

#new-quote:hover, #tweet-quote:hover {
    background-color: #c9d74c;
    color: #013739;
}

#and {
    font-size: 3vmin;
}

#credit {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vmin;
    color: #c9d74c;
}

a {
    color: #c9d74c;
    padding: 0 0.5vmin;
} 

a:hover {
    color:#c9d74c;
    background-color: #013739;
}